.card-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.card{
 color: black;
 width: 200px;
 border-radius: 3px;
 box-shadow: 0 0 5px black;
 text-align: center;
 padding: 15px;
}

.card p{
  opacity: 0.5;
}

.card img {
  width: 150px;
}
